@import url('https://fonts.googleapis.com/css?family=Roboto');
body {
	margin: 50px;
	font-family: 'Roboto', sans-serif;      	

  }
 .title{
  	width:100%;
  	height:100px;
  	background-color: #6b6b6b;
  	position: static;
  	padding-top: 20;
  }
h1 {
		
	}
.container {
	float:	left;
	border-top: 2px solid #fff;
	width:100%;
}
.slogan-container {
	float: left;
	width: 100%;
	max-width: 70%;
	height: absolute;
}
.slogan {
	width: 100%;
	margin: 20px 0;
	float: left;
}
.review {
	float: left;
}
.rate-up {
display: block;
}
.rate-up:after {
	content: "\25b2";
}
.rate-down {
	display: block;
}
.rate-down:after{
	content: "\25bc";
}
.slogan-text {
	float: left;
	font-weight: bold;
}
.slogan-add {
	background-color: #d3d3d3;
	width:100%;
	max-width: calc(30% - 2px);
	float: right;
	border: 1px solid ;
}
form {
	width: 100%;
}
.slogan-add-title {
	width: 100%;
}
input {

	width: 80%;
	margin: 20px auto;
}
.facebook-login {
	background-color: #fff;
	clear: both;
	float: right;
	border: 1px solid;
	width: 100%;
	max-width: calc(30% - 2px);
}